[submodule "vendors/cakephp"]
	path = vendors/cakephp
	url = https://github.com/cakephp/cakephp.git
[submodule "app/Plugin/DebugKit"]
	path = app/Plugin/DebugKit
	url = https://github.com/cakephp/debug_kit.git
[submodule "app/Plugin/Crud"]
	path = app/Plugin/Crud
	url = https://github.com/jippi/cakephp-crud.git
