html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 60px;
	height: 100%;
	padding-top: 80px;
}

.pagination {
	display: block;
	width: 100%;
	text-align: center;
	height: 29px;

	> li {
		display: inline-block;
	}
}

.navbar-inverse .navbar-collapse {
	padding: 0;
}

.sticky-footer {
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	left: 0px;
	height: 60px;

	background-color: #f5f5f5;
	color: #999;
	line-height: 60px;
}

.page-header {
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0;

	h3 {
		margin-top: 0px;
	}
}

.table {
	td {
		img {
			max-width: 150px;
		}
	}
}

td.actions {
	text-align: right;

	.ellipse {
		width: 128px;
		float: right;

		&:before {
			@extend .btn;
			@extend .btn-default;
			content: "\2026 ";
			display: none;
		}
	}
}

td {
	text-overflow: ellipsis;
}

button[type=button] {
	outline: none;
}

@media screen and (max-width: 768px) {
	td.actions {
		position: relative;
		height: 47px;
		padding-left: 20px !important;

		.ellipse {
			position: absolute;
			right: 0px;
			top: 0px;

			width: 45px;
			height: 47px;
			overflow: hidden;
			line-height: 47px;
			float: right;

			.btn {
				box-shadow: 0 0 10px black;
				position: relative;
				top: -2px;
			}

			&:before {
				display: inline;
				padding-top: 3px;
				padding-bottom: 9px;
				float: right;
				position: relative;
				top: 7px;
				margin-bottom: 10px;
				margin-right: 4px;
				margin-left: 4px;
			}

			&.active {
				width: 282px;

				&:before {
					display: inline;
					
				}
			}
		}
	}

	.page-header {
		position: fixed;
		top: 0px;
		left: 15px;
		margin: 0;
		padding: 0;
		z-index: 2000;
		border: 0;

		h3 {
			margin: 0;
			line-height: 50px;
			text-decoration: none;
			color: #999999;
		}
	}

	.navbar-inverse .navbar-collapse {
		padding: 0px 15px;
	}

	td .limiter {
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 70px;
		line-height: 20px;
		white-space: nowrap;
	}
}